<head>
    <title>your story | <%= title %></title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

        body {
            max-width: 1200px;
            margin: 20px;
            padding: 0 20px;
            font-family: 'Merriweather', serif;

        }

        nav ul {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        nav li {
            list-style-type: none;
            margin-left: 20px;

        }
    </style>
</head>