<nav>
    <div class="site-title">
        <h2><a href="/">Story Ninja</a></h2>
    </div>
    <ul>
        <li><a href="/"> Home</a></li>
        <li><a href="/about"> about</a></li>
        <li><a href="/blogs/create"> create</a></li>
    </ul>
</nav>