<html>
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <h1>404 - oops!</h1>
    <h2>Page does not exist</h2>

</body>

<%- include('./partials/footer.ejs') %>

</html>